$green:#60c48f;

@mixin border-radius($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  border-radius: $px;
}

@mixin conteiner($background) {
  margin: 0 auto;
  position: relative;
  background: url($image_dir+$background) #fff no-repeat;
  //background-attachment: fixed;
  background-size: contain;
  box-shadow: 0 0 15px #999;
  -webkit-box-shadow: 0 0 15px #999;
  width: 90%;
  -moz-box-shadow: 0 0 15px #999;
  width: 90%;
}

@mixin bradius($atr1) {
  border-radius: $atr1;
  -webkit-border-radius: $atr1;
  -moz-border-radius: $atr1;
}
